 @media (max-width:1500px){


    header {
        display: flex;
        position: fixed;
        height: 70px;
        width: 100%;
        background-color: #ffffff;
        z-index: 100;
    }
    
    
    .left-header{
        display: flex;
        padding-left: 20px;
        width: 434px;
        height: 70px;
        justify-content: space-between;
        align-items: center;
    }
    
    
    .header-logo{
        cursor: pointer;
        display: inline-block;
        padding-right: 14px;
    
    }
    
    .header-title{
        display: block;
        font-size: 14px;
        font-weight: 900;
        cursor: pointer;
    }
    
    .header-title span {
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        margin: auto;
    }
    
    
    .left-header a{
        text-decoration: none;
        color: #000000;
        cursor: pointer;
    }
    
    .navigation {
        margin-left:auto;
    }
    
    .navigation > nav > ul{
        display: flex;
        margin: auto;
        padding: 0;
        list-style: none;
        width: 100%;
    }
    
    .navigation > nav > ul >li >span{
        display: flex;    
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000000;
        height: 70px;
        cursor: pointer;
        font-weight: bold;
        padding: 0 10px;
    }
    
    
    .dropmenu >li >ul{
        list-style: none;
        position: absolute;
        z-index: 500;
        top: 100%;
    }
    
    .dropmenu li ul >li{
        width: 115%;
        background-color:rgb(233,248,251);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropmenu li ul li a{
        width: 100%;
        color:black;
        text-decoration: none;
        font-size: 16px;
        padding-left: 10px;
    
    }
    
    .dropmenu li ul li:hover {
        background-color:white;
    }
    
    .dropmenu li ul li:hover a{
        color: rgb(24, 129, 199);
    }
    
    .dropmenu li:hover > span{
        background:white;
    }
    
    .dropmenu li span:hover{
        background:rgb(212,241,248);
    }
    
    #dropmenu li ul li{
        overflow: hidden;
        height: 0;
        transition: .3s;
    }
    
    #dropmenu li:hover ul li{
        overflow: visible;
        height: 58px;
    }
    
    .offer {
        display: flex;    
        justify-content: center;
        align-items: center;
        height: 70px;
        background-color: #3398b3;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
        padding: 0 10px;
    }
    
    .offer:hover{
        background-color:#3398b3;
    }
    
    
    .dropmenu > li > a{
        text-decoration: none;
    }
    
    
    .main-wrap{
        background-image: url(image/bg-hero3.png);
        background-attachment: fixed;
        height: 876px;
        width: auto;
        background-size:cover;
        background-position: center;
        padding-top:70px;
    }
    
    .hero1{
        width: 100%;
        height: 800px;
        background-image: url(image/bg-hero1.png);
        background-size:cover;
        background-position-x: center;
        background-position-y: -70px;
        position:absolute;
    }
    
    .hero2{
        height: 800px;
        width: 100%;
        background-image: url(image/bg-hero2.png);
        background-size:cover;
        background-position-x: center;
        background-position-y: -70px;
        position:absolute;
    }
    
    .top-wrap {
        width: auto;
        height: 580px;
        position: relative;
    }
    
    .primary-wrap{
        height: 323px;
        width: 414px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        background-color:#ffffff;
        border-radius: 10px;
        text-align : center;
        z-index: 30;
    }
    
    
    .primary-wrap img{
        margin-top: 44px;
        margin-right: auto;
        width: 282px;
        height: 60px;
    }
    
    
    .primary-wrap h1{
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 28px ;
        width: 348px;
        text-align:center;
        font-weight: bold;
        font-size: 16px;
    }
    
    .primary-wrap a{
        display : inline-block;
        width: 290px;
        height: 69px;
        line-height: 69px;
        background-color: #3398B3;
        border-radius: 4px;
        color: white;
        text-decoration: none;
        font-size: 18px;
        font-weight: bold;
    }
    
    .bottom-wrap {
        width: auto;
        height: 228px;
        background-color: black;
        position: relative;
    }
    
    .secondary-wrap{
        /* background-color: yellow; */
        position:absolute;
        top:-200px;
        left: 0;
        right: 0;
        margin: 0 auto;
        display: flex;
        justify-content:space-evenly;
    }
    
    .service-icon{
        width: 233px;
        height: 233px;
        background-color:white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 5px;
        border-color:black;
        margin: 0 auto;
    }
    
    .service-icon i{
        font-size: 100px;
        color: black;
    } 
    
    .service-wrap h2{
        width: 233px;
        display: flex;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 5px;
        color: white;
    }
    
    .service-disc{
        width: 233px;
        display: flex;
        justify-content: center;
        color: white;
    }
    
    
    
    .main-container {
        padding-top: 70px;
        height: 878px;
        width: auto;
        background-image: url(image/bg-hero1.png);
        background-position: 50% -5%;
    }
    
    
    .top-page{
        height: 650px;
        width: auto;
    }
    
    
    .top-center{
        height: 323px;
        width: 414px;
        margin-top: 80px;
        margin-right: auto;
        margin-left: auto;
        background-color:#ffffff;
        border-radius: 10px;
        
    }
    
    
    .comic-botan >p{
        color:#ffffff;
        font-weight: bold;
    }
    
    
    .top-page-under {
        position: relative;
        top: -80px;
        height: 228px;
        width: auto;
        background-color:black;
        background-position: 100px 100px 100px 10px 10px; 
    } 
    
    .service-detail h2{
        /* background-color: purple; */
        width: 233px;
        display: flex;
        justify-content: center;
        margin-top: 2px;
        margin-bottom: 5px;
        color: white;
    }



}

@media (max-width:1200px){
    
    header {
        display: flex;
        position: fixed;
        height: 50px;
        width: 100%;
        background-color: #ffffff;
    }
    
    
    .left-header{
        display: flex;
        width: 100%;
        height: 50px;
        padding-left: 10px;
    }
    
    
    .header-logo{
        cursor: pointer;
        display: block;
        width: 157px;
    }
    
    .header-title{
        display: none;
    }

    
    .pc-nav{
        display: none;
    }


    #hamburger{
        display: inline-block;
        width: 50px;
        height: 50px;
        position: relative;
        cursor: pointer;
    }

    .hamburger-btn{
        background-color: white;
    }

    .hamburger-btn.active{
        background-color:rgb(51,152,179);
    }


    .hamburger{
        position: relative;
        width: 25px;
        height: 100%;
        /* background-color: rebeccapurple; */
        margin: auto;
    }

    .bar{
        width: 100%;
        height: 2px;
        position:absolute;
        border-radius: 4px;
        background-color:rgb(51,152,179);
        transition: ease 0.3s;
    }    

    .bar.baractive{
        background-color:white;
    }

    .top{
        top: 32%;
    }

    .middle{
        top: 50%;
    }

    .bottom{
        top: 68%;
    }

    .close .top{
        transform: rotate(-45deg);
        top: 48%;
    }

    .close .middle{
        opacity: 0;
    }

    .close .bottom{
        transform: rotate(45deg);
        top: 48%;
    }

    .moble-nav{
        position: relative;
    }

    .moble-nav-main{
        position:absolute;
        right: 0;
        top: 50px;
        
    }

    .moble-nav-first {
        /* background-color: violet; */
        /* border: green solid; */
        list-style: none;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }

    .plusminus-icon {
        height: 45px;
        width: 50px;
        /* background-color: pink; */
        position:absolute;
        right:0;
        top: 0;
    }
    

    .plusminus-icon span:before,
    .plusminus-icon span:after{
        display: block;
        content: "";
        background-color: black;
        width: 60%;
        height: 4%;
        position:absolute;
        top:20px;
        left: 10px;
    }

    .plusminus-icon span:after{
        display: block;
        content: "";
        background-color: black;
        width: 60%;
        height: 4%;
        position:absolute;
        top: 20px;
        left: 10px;
        transform: rotate(90deg);
    }

    .minus .plusminus-icon span:after{
        opacity: 0;
    }

    .moble-nav-first-list{
        background-color:white;
        /* border: sienna solid; */
        position: relative;
    }

    .moble-nav-first-list a:hover{
        background-color: rgba(4, 176, 255, 0.068);
        transition: background-color 0.3s;
    }

    .moble-nav-first-list a{
        color: black;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 45px;
        line-height: 42px;
        padding-left: 10px;
    }


    .moble-nav-second-list{
        background-color:white;
        /* border: red solid; */
        padding-left: 18px;
    }

    
 
    .moble-nav-second-list a{
        text-decoration: none;
        color: black;
        font-weight: normal;
        display: inline-block;
        width: 100%;
        height: 45px;
        line-height: 45px;
    }
    
    .main-wrap{
        background-image: url(image/bg-hero3.png);
        background-attachment: fixed;
        height: 800px;
        width: auto;
        background-size:cover;
        background-position: center;
        padding-top:50px;
    }
    

}




@media (max-width:767px){
    .main-wrap{
        background-image: url(image/bg-hero3.png);
        background-attachment: fixed;
        height: 1550px;
        width: auto;
        background-position-x: center;
        background-position-y: -25px;
        padding-top:50px;
    }

    .hero1{
        width: 100%;
        height: 170px;
        background-image: url(image/bg-hero1.png);
        background-size: 800px auto;
        background-position-x: center;
        background-position-y: -30px;
        position: relative;;
    }
    
    
    .hero2{
        height: 170px;
        width: 100%;
        background-image: url(image/bg-hero2.png);
        background-size:800px auto;
        background-position-x: center;
        background-position-y: -25px;
        /* background-position: auto 0px; */
    }

    .top-wrap {
        width: auto;
        height: 150px;
        position: relative;
        /* background-color: yellow; */
    }

    .primary-wrap{
        height: 150px;
        width: 100%;
        background-color:white;
        text-align : center;
        margin: 0 auto;
        z-index: 30;
        border-radius: 0%;
    }

    .primary-wrap img{
        display: none;
    }
    
    
    .primary-wrap h1{
        width: 348px;
        text-align:center;
        font-weight: bold;
        font-size: 12.5px;
        margin: 0 auto;
        padding-top: 16px;
        padding-bottom: 14px;
    }
    
    .primary-wrap a{
        display : inline-block;
        width: 230px;
        height: 40px;
        line-height: 40px;
        background-color: #3398B3;
        border-radius: 4px;
        color: white;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
    }
    
    .bottom-wrap {
        width: auto;
        height: 0;
        background-color: black;
        position: static;
    }

    .secondary-wrap{
        background-color:black;
        position: static;;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 1228px;
    }
    
    .service-icon{
        width: 233px;
        height: 233px;
        background-color:white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-width: 5px;
        border-color:black;
        margin: 0 auto;
    }
    
    .service-icon i{
        font-size: 100px;
        color: black;
    } 
    

    .service-wrap h2{
        width: 233px;
        display: flex;
        justify-content: center;
        margin-top: 12px;
        margin-bottom: 5px;
        margin-left: auto;
        margin-right: auto;
        color: white;
        /* background-color: blue; */
    }
    
    .service-disc{
        width: 93%;
        display: flex;
        justify-content: center;
        color: white;
        /* background-color: pink; */
        margin-top: 12px;
        margin-bottom: 0;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        font-weight: bold;
    }
    

}